<h2>Follow Users</h2>
<% if @users.exists? %>
  <% @users.each do |user| %>
    <table>
      <thead>
        <tr>
          <td><%= user.name %></td>
        </tr>
      </thead>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>